body, html{
  padding: 0;
  margin: 0;
  height: 1500px;
  
}


#bar {
  background-color: rgb(250, 178, 190);
  width: 100%;
  height: 15%;
  position: fixed;
}

#box1 {
  background-color: #adf7ff;
  width: 70%;
  height: 85%;
  top: 15%;
  padding: 50px;
  position: absolute;
  font-size: 200%;
  color: white;

  box-sizing: border-box;
}


#box2 {
  background-color: #f7c847;
  width: 30%;
  height: 85%;
  top: 15%;
  left: 70%;
  border: 5px solid gray;
  position: absolute;

  box-sizing: border-box;
}

#box3{
  background: rgb(196, 235, 139);
  height: 80px;
  width: 150px;
  top: 8%;
  left: 63%;
  position: fixed;
}