@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(233, 233, 233);
}

.screen {
  width: 380px;
  height: 820px;
  background: linear-gradient(
      rgba(255, 249, 246, 0.2),
      rgb(255, 249, 246),
      rgb(255, 249, 246)
    ),
    url(clock.jpg);
  background-size: 800px;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 10px 10px 30px rgb(143, 143, 143);
  padding: 20px 30px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
}

.header__column span {
  font-weight: 700;
}

.header__column i {
  margin-left: 3px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-size: 24px;
}

.main__places {
  display: flex;
  justify-content: flex-end;
  margin-top: 195px;
}

.main__places .place-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-size: 100px;
  margin-right: 10px;
  opacity: 0.9;
}

.main__places .place-img:first-child {
  background-image: url(gastown.jpg);
}

.main__places .place-img:nth-child(2) {
  background-image: url(city.jpg);
}

.main__places .place-img:nth-child(3) {
  background-image: url(fall.jpg);
}
.main__places .place-img:last-child {
  background-color: #3f67ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.main__tag {
  margin-top: 30px;
}

.main__tag .place-tag {
  background-color: #dde3f9;
  color: #3f67ff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px 20px 20px 0px;
}

.main__title {
  display: flex;
  justify-content: space-between;
}

.main__title span {
  display: flex;
  align-items: center;
}

.main__title i {
  padding: 6px;
  background-color: white;
  border-radius: 20px;
  font-size: 18px;
  color: rgb(252, 73, 73);
  box-shadow: 0px 0px 10px rgb(228, 228, 228);
}

.place-address {
  margin-top: -18px;
  color: rgb(172, 172, 172);
  font-weight: 500;
}

.place-address i {
  color: #3f67ff;
}

.place-star {
  margin-top: -10px;

  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #363636;
}

.place-star i {
  color: rgb(255, 196, 0);
  font-size: 16px;
}

.star-rate {
  opacity: 0.3;
  font-weight: 500;
}

.main__content-title {
  opacity: 0.4;
  margin-bottom: 3px;
}

.place-info {
  line-height: 190%;
}

.read-more {
  font-size: 18px;
  font-weight: 700;
  color: #3f67ff;
  margin-top: 10px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__btn-list {
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 380px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  color: #9aa8c2;
  z-index: 2;
}

.btn-list__column {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.route {
  position: relative;
  top: -50px;
  padding: 5px 9.5px;
  border-radius: 40px;
  color: white;
  border: 10px solid rgb(240, 240, 240);
  background-color: #3f67ff;
  /*box-shadow: 0px 0px 25px #b6c4fd;*/
  z-index: 1;
}

.route::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  padding: 20px 20px;
  border-radius: 40px;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  background-color: #3f67ff;
  z-index: -1;
}

.fa-globe-asia {
  color: #3f67ff;
}

.screen__bar {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 5px;
  margin-left: 83px;
  margin-bottom: 10px;
  background-color: rgb(210, 222, 241);
  border-radius: 10px;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2.5px;
  margin-left: 68px;
  margin-bottom: 100px;
  background-color: #3f67ff;
}
