button{
    border: 0;
    margin: 50px 100px;
    width: 180px;
    height: 50px;
    background-color: rgb(184, 184, 184);
    color: white;
    font-size: 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

button:hover{
    
    animation: 0.5s shadowAndColor ease-out forwards;
}

@keyframes shadowAndColor{
    from{
        transform: none;
    }to{
        box-shadow: 3px 3px 10px gray;
        background-color: gray;
    }
}


.img{
    margin: 0px 100px;
    position: absolute;
    width: 180px;
    height: 180px;
    position: relative;
    background-image: url(img1.jpg);
    background-size: cover;
}

.img:hover{
    animation: turnAndBorder ease-in-out forwards;
}


@keyframes turnAndBorder{
    from{
        transform: none;
    }to{
        border: 5px solid black;
        transform: rotate(135deg) scale(0.5);
    }
}


/* .test{
    width: 200px;
    height: 200px;
    margin: 100px 600px;
    display: inline;
    background-color: hotpink;
    transform: rotateX(50deg);
    
    inline¿∫ transform ¿˚øÎ ∫“∞°¥… ∆«∏Ì! ≈¡≈¡≈¡
} */